{% extends 'base.html' %}
{% load i18n %}
{% block content %}
	{% for item in promotions %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ item.image }}">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ item.title }}</a>
					<small class="text-muted">{{ item.updated_at|date:"F d, Y" }}</small>
				</div>
			</div>
		</article>
	{% endfor %}
	<a class="nav-item nav-link" href="{% url 'create-promotions' %}">New Post</a>
{% endblock content %}