{% load i18n %}
{% load static %}
<!-- Header -->
<nav class="navbar navbar-expand-lg" style="background: #2d3246;">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}">
			<img src="{% static 'images/tracking_logo.png' %}" alt="" width="30" height="30">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if request.user.is_authenticated %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li>
						<a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans "Home" %}</a>
					</li>
				</ul>
				<ul>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{% trans "Hello," %} {{request.user.username}}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">{% trans "Profile" %} </a></li>
							<li><a class="dropdown-item" href="#"> {% trans "Settings" %} </a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
						</ul>
					</li>
				</ul>
			{% else %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li>
						<a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans "Home" %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">{% trans "Register" %}</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
<!-- End Header -->