{% extends "car_gps/base_site.html" %}
{% load static %}

{% block content %}
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">

				<ol>
					<li><a href="{% url 'index' %}">Trang chủ</a></li>
					<li><a href="{% url 'news' %}">Tin tức</a></li>
					<li>Blog Single</li>
				</ol>
				<h2>Car Discovery</h2>

			</div>
		</section><!-- End Breadcrumbs -->

		<!-- ======= Blog Single Section ======= -->
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-8 entries">

						<article class="entry entry-single">

							<div class="entry-img">
								<img src="{% static 'assets/img/blog/blog-single-0.jpg' %}" alt="" class="img-fluid">
							</div>

							<h2 class="entry-title">
								<a href="blog-single.html">Bộ sưu tập xe mang tính di sản của các hãng ô tô nổi tiếng</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">Author: Admin</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2021-01-01">Jan 1, 2021</time></a></li>
									<!--li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li-->
								</ul>
							</div>

							<div class="entry-content">
								<h3>Audi</h3>
								<p>
									Hãng xe Audi có hẳn một bảo tàng thương hiệu ngụ tại thành phố Ingolstadt, Đức. Nơi đây trưng bày những chiếc xe cổ tái hiện toàn bộ câu chuyện về lịch sử của hãng xe từ năm 1899 đến nay.
								</p>

								<p>
									Ngoài ra, hãng xe này cũng có bộ sưu tập hơn 50 chiếc xe được cho là di sản quan trọng của hãng tại thị trường Anh. Tất cả những chiếc xe trong bộ sưu tập này hiện đều đang hoạt động tốt và thường được trưng bày tại các sự kiện như Lễ hội Tốc độ Goodwood, cũng như được sử dụng bởi các nhà báo và nhà sản xuất truyền hình.
								</p>
								<br>
								<img src="{% static 'assets/img/blog/blog-single-0-0.jpg' %}" alt="Xế cổ Audi." class="img-fluid">

								<!--blockquote>
									<i class="icofont-quote-left quote-left"></i>
									<p>
										Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
									</p>
									<i class="las la-quote-right quote-right"></i>
									<i class="icofont-quote-right quote-right"></i>
								</blockquote -->

								<h3>BMW</h3>
								<p>
									Bộ sưu tập xe mang tính di sản lịch sử của hãng xe BMW gồm có những mẫu xe như  Isetta, Turbo 2022 và nhiều mô hình M khác. Tất cả những chiếc xe này đều được trưng bày tại  trụ sở chính của công ty Farnborough, Anh và luôn trong tình trạng sẵn sàng lăn bánh cho những trải nghiệm mang tính khám phá lịch sử hãng xe.
								</p>
								<p>
									Ở quy mô lớn hơn, BMW tại Đức có hai địa điểm trưng bày di sản của mình là BMW Welt và Bảo tàng BMW có trụ sở tại Munich.
								</p>
								<br>
								<img src="{% static 'assets/img/blog/blog-single-0-1.jpg' %}" class="img-fluid" alt="">

								<h3>Ford</h3>
								<p>
									Ford có một số bộ sưu tập di sản rải rác trên khắp thế giới, điều này phản ánh quy mô khổng lồ của công ty và cách nó phát triển các mẫu xe cho các khu vực cụ thể. Đương nhiên, bộ sưu tập tại cơ sở của công ty ở Detroit, Hoa Kỳ là lớn nhất và bảo tàng Henry Ford chứa đựng tất cả từ ô tô, xe tải đến máy bay và thậm chí cả nhà Dymaxion cũng được trưng bày.
								</p>
								<p>
									Tại Vương quốc Anh, bộ sưu tập di sản của Ford được lưu giữ tại nhà máy động cơ Dagenham. Hầu hết đều được sẵn sàng lăn bánh bao gồm các dòng xe Ford được bán tại Anh, từ Model T đến GT40. Nổi bật là chiếc xe Escort RS1600, GT40 và Transit Supervan 3 của Hannu Mikkola từng đoạt giải World Cup 1970. Tuy nhiên, những mẫu xe chủ đạo từng bao phủ mọi con phố như Fiesta, Escort và Cortina cũng được trưng bày tại đây.
								</p>
								<br>
								<img src="{% static 'assets/img/blog/blog-single-0-2.jpg' %}" class="img-fluid" alt="">

								<h3>Mercedes-Benz</h3>
								<p>
									Bảo tàng xe cổ của Mercedes-Benz được đặt ở Stuttgart, Đức rộng đến 16.500 mét vuông và có sức chưa 160 chiếc xe và 1500 hiện vật khác của hãng.
								</p>
								<p>
									Hầu hết tất cả những chiếc xe đều được giữ nguyên bản và vẫn còn hoạt dodọng tốt.
								</p>
								<br>
								<img src="{% static 'assets/img/blog/blog-single-0-3.jpg' %}" class="img-fluid" alt="">
								<br>
								<br>
								<p>
									<strong>Author: Admin</strong>
								</p>
							</div>

							<div class="entry-footer clearfix">
								<div class="float-left">
									<i class="icofont-folder"></i>
									<ul class="cats">
										<li><a href="#">Business</a></li>
									</ul>

									<i class="icofont-tags"></i>
									<ul class="tags">
										<li><a href="#">Creative</a></li>
										<li><a href="#">Tips</a></li>
										<li><a href="#">Marketing</a></li>
									</ul>
								</div>

								<div class="float-right share">
									<a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
									<a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
									<a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
								</div>

							</div>

						</article><!-- End blog entry -->

					</div><!-- End blog entries list -->

					<div class="col-lg-4">

						<div class="sidebar">

							<h3 class="sidebar-title">Tìm kiếm</h3>
							<div class="sidebar-item search-form">
								<form action="">
									<input type="text">
									<button type="submit"><i class="icofont-search"></i></button>
								</form>
							</div><!-- End sidebar search formn-->

							<h3 class="sidebar-title">Danh mục</h3>
							<div class="sidebar-item categories">
								<ul>
									<li><a href="#">Thị trường xe <span>(25)</span></a></li>
									<li><a href="#">Văn hóa xe <span>(12)</span></a></li>
									<li><a href="#">Tư vấn <span>(5)</span></a></li>
								</ul>
							</div><!-- End sidebar categories-->

							<h3 class="sidebar-title">Bài viết gần đây</h3>
							<div class="sidebar-item recent-posts">
								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-01.jpg' %}" alt="">
									<h4><a href="#">Những mẫu xe thể thao phiên bản đặc biệt tốt nhất trong 20 năm qua</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-02.jpg' %}" alt="">
									<h4><a href="#">10 xe ế ẩm nhất tháng 3: Toyota tiếp tục "chiếm sóng"</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-03.jpg' %}" alt="">
									<h4><a href="#">David Beckham trở thành đại sứ thương hiệu toàn cầu của Maserati</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-04.jpg' %}" alt="">
									<h4><a href="#">Siêu chip trên ô tô điện thông minh tự hành của VinFast</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

							</div><!-- End sidebar recent posts-->

							<h3 class="sidebar-title">Tags</h3>
							<div class="sidebar-item tags">
								<ul>
									<li><a href="#">Sedan</a></li>
									<li><a href="#">SUV</a></li>
								</ul>
							</div><!-- End sidebar tags-->

						</div><!-- End sidebar -->

					</div><!-- End blog sidebar -->

				</div>

			</div>
		</section><!-- End Blog Single Section -->

	</main><!-- End #main -->
{% endblock content %}