{% extends "car_gps/base_site.html" %}
{% load static %}

{% block content %}
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">

				<ol>
					<li><a href="{% url 'index' %}">Trang chủ</a></li>
					<li><a href="{% url 'news' %}">Tin tức</a></li>
					<li>Blog Single</li>
				</ol>
				<h2>Blog Single</h2>

			</div>
		</section><!-- End Breadcrumbs -->

		<!-- ======= Blog Single Section ======= -->
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-8 entries">

						<article class="entry entry-single">

							<div class="entry-img">
								<img src="{% static 'assets/img/blog/blog-single-3-cover.png' %}" alt="" class="img-fluid">
							</div>

							<h2 class="entry-title">
								<a href="blog-single.html">3 mẫu sedan đáng chú ý trong tầm giá 500-600 triệu đồng</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">Author: Admin</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2021-01-01">Jan 1, 2021</time></a></li>
									<!--li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li-->
								</ul>
							</div>

							<div class="entry-content">
								<p>
									Những mẫu sedan trong tầm giá 500-600 triệu đáng chú ý đều là các phiên bản mới và được ra mắt trong thời gian gần đây.
								</p>
								<p>
									Sau Tết Nguyên đán, thị trường ôtô Việt sôi động trở lại khi có hàng loạt mẫu xe đời mới được giới thiệu. Trong đó, nhóm sedan hạng B có khá nhiều sự lựa chọn mới, đặc biệt trong nhóm giá 500-600 triệu đồng.
								</p>
								<h3>Toyota Vios</h3>
								<img src="{% static 'assets/img/blog/blog-single-3-0.jpg' %}" alt="" class="img-fluid">
								<br><br>
								<p>
									Toyota Vios - 478-581 triệu đồng: Hơn 2 tháng sau khi City 2021 ra mắt, Toyota cũng giới thiệu Vios facelift tại Việt Nam. Xe có các phiên bản E MT, E CVT, G CVT và GR-S (bản thể thao). Trong đó, 2 phiên bản E CVT, G CVT có giá 531-581 triệu đồng, nâng giá đôi chút so với đời trước. Ảnh: Hoàng Tuấn.
								</p>
								<p>
									Ở đời 2021, Vios chủ yếu được thay đổi ở thiết kế đầu xe. Mẫu xe bán chạy nhất Việt Nam năm 2021 trở nên trẻ trung hơn nhờ cụm đèn trước thiết kế lại, lưới tản nhiệt sơn đen cỡ lớn hơn. Phiên bản G có hệ thống đèn chiếu sáng LED gồm đèn trước, đèn hậu và đèn sương mù. Ảnh: Hoàng Tuấn.
								</p>
								<p>
									Nội thất của Vios 2021 không có sự khác biệt so với đời trước. Xe có màn hình giải trí hỗ trợ kết nối Apple CarPlay, dàn âm thanh 6 loa, điều hòa tự động một vùng, chìa khóa thông minh, nút bấm khởi động... Thậm chí, Vios còn thua thiệt hơn các đối thủ khi không được trang bị cửa sổ trời, đồng hồ kỹ thuật số dù mức giá
								</p>
								<p>
									Toyota Vios 2021 sử dụng động cơ 1.5L 4 xy-lanh, sản sinh công suất 106 mã lực tại 6.000 vòng/phút, mô-men xoắn 140 Nm tại 4.200 vòng/phút. Các phiên bản này sử dụng hộp số vô cấp CVT
								</p>
								<!--blockquote>
									<i class="icofont-quote-left quote-left"></i>
									<p>
										Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
									</p>
									<i class="las la-quote-right quote-right"></i>
									<i class="icofont-quote-right quote-right"></i>
								</blockquote-->
								<h3>Honda City</h3>
								<img src="{% static 'assets/img/blog/blog-single-3-0.jpg' %}" alt="" class="img-fluid">
								<br><br>
								<p>
									Honda City - 529-599 triệu đồng: Thuộc nhóm đắt nhất trong phân khúc sedan hạng B, Honda City được niêm yết với giá 529-599 triệu đồng cho 3 phiên bản. Cách đây vài ngày, Honda vừa bổ sung thêm phiên bản E có giá dưới 500 triệu đồng cho City, giúp mẫu xe này mở rộng thêm tập khách hàng.
								</p>
								<p>
									City 2021 thuộc thế hệ thứ 5, có kiểu dáng trẻ trung và thể thao hơn thế hệ cũ. Mẫu sedan này được trang bị khá đầy đủ với đèn LED trước sau, trong đó đèn trước là dạng chia khoang, mâm hợp kim 16 inch, màn hình trung tâm cảm ứng 8 inch hỗ trợ kết nối Apple CarPlay/Android Auto, vô-lăng bọc da...
								</p>
								<p>
									Với huy hiệu RS, chiếc sedan này có ốp gương chiếu hậu, cánh gió được sơn đen bóng, cánh chia gió trước và bộ khuếch tán sau được ốp vân carbon. Có thể nói, City RS là mẫu sedan mang hơi hướm thể thao nhiều nhất trong tầm giá dưới 600 triệu đồng
								</p>
								<p>
									Tất cả phiên bản của Honda City 2021 tại Việt Nam sử dụng động cơ 1.5L 4 xy-lanh, sản sinh công suất 119 mã lực và mô-men xoắn 145 Nm. Đi kèm với động cơ là hộp số vô cấp CVT
								</p>
								<h3>Hyundai Accent</h3>
								<img src="{% static 'assets/img/blog/blog-single-3-0.jpg' %}" alt="" class="img-fluid">
								<br><br>
								<p>
									Hyundai Accent 1.4 AT Đặc biệt - 542 triệu đồng: Trong phân khúc sedan hạng B, đối thủ lớn nhất của Toyota Vios là Hyundai Accent. Thế hệ mới của Accent được ra mắt Việt Nam vào cuối năm 2021, nhanh chóng đe dọa vị trí dẫn đầu của Vios. Với nhiều thay đổi, Accent rõ ràng nổi bật hơn Vios và vì vậy, mẫu xe Hàn đã dẫn đầu về doanh số trong nhóm sedan hạng B ở tháng 2 vừa qua
								</p>
								<p>
									Ở thế hệ mới, Accent có ngoại hình thay đổi hoàn toàn so với đời trước, theo hướng trẻ trung và hiện đại hơn. Với giá 542 triệu đồng, phiên bản cao cấp nhất của Hyundai Accent có nhiều chi tiết trang trí ngoại thất mạ chrome, đèn Bi-Halogen kiểu projector
								</p>
								<p>
									Hyundai Accent bản cao cấp có bảng đồng hồ kỹ thuật số, cửa sổ trời, lẫy chuyển số sau vô-lăng, dàn âm thanh 6 loa, màn hình cảm ứng 8 inch, hệ thống thông tin giải trí hỗ trợ kết nối Apple CarPlay/Android Auto, điều hòa tự động... Hyundai Accent bản cao cấp sử dụng động cơ xăng 1.4L, sản sinh công suất 97 mã lực và mô-men xoắn 132 Nm. Đi kèm với động cơ là hộp số tự động 6 cấp và hệ dẫn động cầu trước
								</p>
								<br>
								<p>
									<strong>Author: Admin</strong>
								</p>
							</div>

							<div class="entry-footer clearfix">
								<div class="float-left">
									<i class="icofont-folder"></i>
									<ul class="cats">
										<li><a href="#">Business</a></li>
									</ul>

									<i class="icofont-tags"></i>
									<ul class="tags">
										<li><a href="#">Creative</a></li>
										<li><a href="#">Tips</a></li>
										<li><a href="#">Marketing</a></li>
									</ul>
								</div>

								<div class="float-right share">
									<a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
									<a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
									<a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
								</div>

							</div>

						</article><!-- End blog entry -->
					</div><!-- End blog entries list -->
					<div class="col-lg-4">
						<div class="sidebar">
							<h3 class="sidebar-title">Tìm kiếm</h3>
							<div class="sidebar-item search-form">
								<form action="">
									<input type="text">
									<button type="submit"><i class="icofont-search"></i></button>
								</form>
							</div><!-- End sidebar search formn-->

							<h3 class="sidebar-title">Danh mục</h3>
							<div class="sidebar-item categories">
								<ul>
									<li><a href="#">Thị trường xe <span>(25)</span></a></li>
									<li><a href="#">Văn hóa xe <span>(12)</span></a></li>
									<li><a href="#">Tư vấn <span>(5)</span></a></li>
								</ul>
							</div><!-- End sidebar categories-->

							<h3 class="sidebar-title">Bài viết gần đây</h3>
							<div class="sidebar-item recent-posts">
								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-01.jpg' %}" alt="">
									<h4><a href="#">Những mẫu xe thể thao phiên bản đặc biệt tốt nhất trong 20 năm qua</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-02.jpg' %}" alt="">
									<h4><a href="#">10 xe ế ẩm nhất tháng 3: Toyota tiếp tục "chiếm sóng"</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-03.jpg' %}" alt="">
									<h4><a href="#">David Beckham trở thành đại sứ thương hiệu toàn cầu của Maserati</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-04.jpg' %}" alt="">
									<h4><a href="#">Siêu chip trên ô tô điện thông minh tự hành của VinFast</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

							</div><!-- End sidebar recent posts-->

							<h3 class="sidebar-title">Tags</h3>
							<div class="sidebar-item tags">
								<ul>
									<li><a href="#">Sedan</a></li>
									<li><a href="#">SUV</a></li>
								</ul>
							</div><!-- End sidebar tags-->

						</div><!-- End sidebar -->

					</div><!-- End blog sidebar -->

				</div>

			</div>
		</section><!-- End Blog Single Section -->

	</main><!-- End #main -->
{% endblock content %}