{% extends "car_gps/base_site.html" %}
{% load static %}

{% block content %}
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">

				<ol>
					<li><a href="{% url 'index' %}">Trang chủ</a></li>
					<li>Tin tức</li>
				</ol>
				<h2>Tin tức</h2>

			</div>
		</section><!-- End Breadcrumbs -->

		<!-- ======= Blog Section ======= -->
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-8 entries">

						<article class="entry">

							<div class="entry-img">
								<a href="blog-single.html"><img src="{% static 'assets/img/blog/blog-single-0-cover.jpg' %}" alt="" class="img-fluid"></a>
							</div>
							<h2 class="entry-title">
								<a href="blog-single.html">Bộ sưu tập xe mang tính di sản của các hãng ô tô nổi tiếng</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#">Author: Admin</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="#"><time datetime="2021-01-01">Jan 1, 2021</time></a></li>
									<!-- li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="#">12 Comments</a></li -->
								</ul>
							</div>

							<div class="entry-content">
								<p>
									Hầu hết các hãng ô tô lớn đều có riêng cho mình những bộ sưu tập xe đầu tiên mang tính di sản, khai sinh thương hiệu và đến nay những mẫu xe này vẫn được giữ gìn, trưng bày cẩn thận.
								</p>
								<div class="read-more">
									<a href="blog-single.html">Đọc thêm</a>
								</div>
							</div>

						</article><!-- End blog entry -->

						<article class="entry">

							<div class="entry-img">
								<a href="blog-single1.html"><img src="{% static 'assets/img/blog/blog-single-1.jpg' %}" alt="" class="img-fluid"></a>
							</div>
							<h2 class="entry-title">
								<a href="blog-single1.html">Những mẫu xe mui trần hấp dẫn nhất mọi thời đại</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#">Author: Admin</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="#"><time datetime="2021-01-01">Jan 1, 2021</time></a></li>
									<!-- li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="#">12 Comments</a></li-->
								</ul>
							</div>

							<div class="entry-content">
								<p>
									Danh sách những mẫu roadster hấp dẫn nhất có sự góp mặt của nhiều cái tên đình đám như Porsche Boxster, Mercedes-Benz SL, Ferrari 812 GTS...
								</p>
								<div class="read-more">
									<a href="blog-single1.html">Đọc thêm</a>
								</div>
							</div>

						</article><!-- End blog entry -->

						<article class="entry">

							<div class="entry-img">
								<img src="{% static 'assets/img/blog/blog-single-2.jpg' %}" alt="" class="img-fluid">
							</div>
							<h2 class="entry-title">
								<a href="blog-single2.html">Loạt xe SUV sắp về Việt Nam, hứa hẹn thành 'bom tấn' trong năm 2021</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#">Author: Admin</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="#"><time datetime="2021-01-01">Jan 1, 2021</time></a></li>
									<!--li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="#">12 Comments</a></li-->
								</ul>
							</div>

							<div class="entry-content">
								<p>
									Ngày ra mắt khách Việt của Kia Sonet, Ford Territory hay Kia Sedona có thể không xa, hứa hẹn mang đến nhiều lựa chọn cho người dùng và làm phân khúc xe gầm cao thêm sôi động.
								</p>
								<div class="read-more">
									<a href="blog-single2.html">Đọc thêm</a>
								</div>
							</div>

						</article><!-- End blog entry -->

						<article class="entry">
							<div class="entry-img">
								<a href="blog-single3.html"><img src="{% static 'assets/img/blog/blog-single-3.jpg' %}" alt="" class="img-fluid"></a>
							</div>
							<h2 class="entry-title">
								<a href="blog-single3.html">3 mẫu sedan đáng chú ý trong tầm giá 500-600 triệu đồng</a>
							</h2>
							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#">Author: Admin</a></li>
									<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="#"><time datetime="2021-01-01">Jan 1, 2021</time></a></li>
									<!-- li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="#">12 Comments</a></li-->
								</ul>
							</div>

							<div class="entry-content">
								<p>
									Những mẫu sedan trong tầm giá 500-600 triệu đáng chú ý đều là các phiên bản mới và được ra mắt trong thời gian gần đây.
								</p>
								<div class="read-more">
									<a href="blog-single3.html">Đọc thêm</a>
								</div>
							</div>

						</article><!-- End blog entry -->

						<div class="blog-pagination">
							<ul class="justify-content-center">
								<li class="disabled"><i class="icofont-rounded-left"></i></li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="blog-single.html"><i class="icofont-rounded-right"></i></a></li>
							</ul>
						</div>

					</div><!-- End blog entries list -->

					<div class="col-lg-4">

						<div class="sidebar">

							<h3 class="sidebar-title">Tìm kiếm</h3>
							<div class="sidebar-item search-form">
								<form action="">
									<input type="text">
									<button type="submit"><i class="icofont-search"></i></button>
								</form>
							</div><!-- End sidebar search formn-->

							<h3 class="sidebar-title">Danh mục</h3>
							<div class="sidebar-item categories">
								<ul>
									<li><a href="#">Thị trường xe <span>(25)</span></a></li>
									<li><a href="#">Văn hóa xe <span>(12)</span></a></li>
									<li><a href="#">Tư vấn <span>(5)</span></a></li>
								</ul>
							</div><!-- End sidebar categories-->

							<h3 class="sidebar-title">Bài viết gần đây</h3>
							<div class="sidebar-item recent-posts">
								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-01.jpg' %}" alt="">
									<h4><a href="#">Những mẫu xe thể thao phiên bản đặc biệt tốt nhất trong 20 năm qua</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-02.jpg' %}" alt="">
									<h4><a href="#">10 xe ế ẩm nhất tháng 3: Toyota tiếp tục "chiếm sóng"</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-03.jpg' %}" alt="">
									<h4><a href="#">David Beckham trở thành đại sứ thương hiệu toàn cầu của Maserati</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'assets/img/blog/recent-blog-04.jpg' %}" alt="">
									<h4><a href="#">Siêu chip trên ô tô điện thông minh tự hành của VinFast</a></h4>
									<time datetime="2021-01-01">Jan 1, 2021</time>
								</div>

							</div><!-- End sidebar recent posts-->

							<h3 class="sidebar-title">Tags</h3>
							<div class="sidebar-item tags">
								<ul>
									<li><a href="#">Sedan</a></li>
									<li><a href="#">SUV</a></li>
								</ul>
							</div><!-- End sidebar tags-->

						</div><!-- End sidebar -->

					</div><!-- End blog sidebar -->

				</div>

			</div>
		</section><!-- End Blog Section -->

	</main><!-- End #main -->
{% endblock content %}