			<footer id="footer">
				<div class="footer-top">
				<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-contact">
					<h3>Vinatrack<span>.</span></h3>
					<p>
						Hà Đông, Hà Nội<br>
						Việt Nam <br><br>
						<strong>Số điện thoại:</strong> +84 666 666<br>
						<strong>Email:</strong> contact@vinatrackgps.com<br>
					</p>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
					<h4>Đường dẫn</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Trang chủ</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#about">Giới thiệu</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="privacy-policy.html">Chính sách bảo mật</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#faq">Chính sách bảo hành</a></li>
					</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
					<h4>Dịch vụ</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#services">Phần mềm quản lý hành trình </a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#services">Phụ kiện xe hơi</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#services">Bảo hành sản phẩm xe hơi</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#services">Tư vấn sản phẩm xe hơi</a></li>
					</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-newsletter">
					<h4>Đăng ký nhận thông báo</h4>
					<p>Đăng ký nhận thông tin sản phẩm, dịch vụ mới nhất từ Vinatrack</p>
					<form action="" method="post">
						<input type="email" name="email"><input type="submit" value="Đăng ký">
					</form>
					</div>

				</div>
				</div>
			</div>

			<div class="container d-md-flex py-4">

				<div class="mr-md-auto text-center text-md-left">
				<div class="copyright">
					&copy; 2021 Copyright <strong><span>Vinatrack</span></strong>. All Rights Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
					Thiết kế bởi <a href="#">Vinatrack Team</a>
				</div>
				</div>
				<div class="social-links text-center text-md-right pt-3 pt-md-0">
				<a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
				<a href="https://www.youtube.com/" class="google-plus" target="_blank"><i class="bx bxl-youtube"></i></a>
				</div>
			</div>
			</footer><!-- End Footer -->
			<!-- ======= Footer ======= -->
			<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>