{% extends "car_gps/base_site.html" %}
{% load static %}

{% block content %}
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">

	<div class="container-fluid" data-aos-delay="100">
		<div class="row justify-content-center">
		<div class="col-xl-10">
			<div class="row">
			<div class="col-xl-5">
				<h1>Vinatrack - Bạn đồng hành trên mọi nẻo đường</h1>
				<h2>VINATRACK là một sản phẩm cung cấp bởi TOÀN CẦU AUDIO một trong những công ty hàng đầu của Việt Nam về thiết bị phụ kiện xe hơi,
cung cấp các dịch vụ và giải pháp ứng dụng GPS trong quản lý hành trình</h2>
				<a href="#about" class="btn-get-started scrollto">Get Started</a>
			</div>
			</div>
		</div>
		</div>
	</div>

	</section><!-- End Hero -->

	<main id="main">

	<!-- ======= About Section ======= -->
	<section id="about" class="about section-bg">
		<div class="container" data-aos="fade-up">

		<div class="row no-gutters">
			<div class="content col-xl-5 d-flex align-items-stretch">
			<div class="content">
				<h3>Toàn Cầu Audio </h3>
				<p>
				Là một đơn vị trẻ với đội ngũ nhân viên năng động, nhiệt huyết, TOÀN CẦU AUDIO chuyên cung cấp lắp đặt đồ chơi oto chuyên nghiệp.

TOÀN CẦU AUDIO luôn phấn đấu nỗ lực không ngừng để đem lại cho người tiêu dùng những sản phẩm công nghệ tiên tiến và trở thành một trong  đơn vị đáng tin cậy.
				</p>
				<a href="#" class="about-btn"><span>Tìm hiểu thêm</span> <i class="bx bx-chevron-right"></i></a>
			</div>
			</div>
			<div class="col-xl-7 d-flex align-items-stretch">
			<div class="icon-boxes d-flex flex-column justify-content-center">
				<div class="row">
				<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
					<i class="bx bx-receipt"></i>
					<h4>Thiết bị quản lý hành trình đa dạng </h4>
					<p>Giám sát hành trình xe mọi lúc mọi nơi trên thiết bị thông minh được thiết kế để hiển thị trên di động
đầy đủ thông tin như trên máy tính PC.</p>
				</div>
				<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
					<i class="bx bx-cube-alt"></i>
					<h4>Phụ kiện dẫn đường</h4>
					<p>Camera hành trình giám sát trực tuyến, giúp cá nhân, tổ chức quản lý xe mọi lúc, mọi nơi. Sản phẩm được phân phối và lắp đặt bởi TOÀN CẦU AUDIO</p>
				</div>
				<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
					<i class="bx bx-images"></i>
					<h4>Đầu CD/DVD xe hơi </h4>
					<p>Các mẫu màn hình hiện đại, cấu hình khỏe, mẫu mã đẹp sang trọng, tiện ích đi kèm phong phú </p>
				</div>
				<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
					<i class="bx bx-shield"></i>
					<h4>Trợ lý lái xe thông minh</h4>
					<p>Ứng dụng trợ lý lái xe thông minh dự trên nền tảng công nghệ 4.0</p>
				</div>
				</div>
			</div><!-- End .content-->
			</div>
		</div>

		</div>
	</section><!-- End About Section -->

	<!-- ======= Tabs Section ======= -->
	<section id="tabs" class="tabs">
		<div class="container" data-aos="fade-up">

		<ul class="nav nav-tabs row d-flex">
			<li class="nav-item col-3">
			<a class="nav-link active show" data-toggle="tab" href="#tab-1">
				<i class="ri-gps-line"></i>
				<h4 class="d-none d-lg-block">Mục tiêu</h4>
			</a>
			</li>
			<li class="nav-item col-3">
			<a class="nav-link" data-toggle="tab" href="#tab-2">
				<i class="ri-body-scan-line"></i>
				<h4 class="d-none d-lg-block">Phương châm</h4>
			</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active show" id="tab-1">
			<div class="row">
				<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
				<h3>Mục tiêu và sứ mệnh của TOÀN CẦU AUDIO.</h3>
				<p class="font-italic">
					Đến với TOÀN CẦU AUDIO chúng tôi luôn cam kết cung cấp hàng chính hãng từ các nhà sản xuất, chất lượng luôn được đảm bảo và mức giá phù hợp trong môi trường cạnh tranh..
				</p>
				<ul>
					<li><i class="ri-check-double-line"></i> Mang lại sự tiện nghi và cảm giác an toàn khi lái xe.</li>
					<li><i class="ri-check-double-line"></i> Biến chiếc xe của bạn mang phong cách của riêng bạn.</li>
					<li><i class="ri-check-double-line"></i> Sản phẩm được TOÀN CẦU AUDIO phân phối luôn đảm bảo là hàng chính hãng 100% với chế độ bảo hành hấp dẫn.</li>
					<li><i class="ri-check-double-line"></i> Thợ tay nghề cao, lâu năm kinh nghiệm trong lĩnh vực đồ chơi ô tô, có thể xử lý được cả những xe siêu sang.</li>
				</ul>
				<p>
				</p>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
				<img src="{% static 'assets/img/tabs-1.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
			</div>
			<div class="tab-pane" id="tab-2">
			<div class="row">
				<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
				<h3>Phương châm hoạt đọng của TOÀN CẦU AUDIO</h3>
				<p class="font-italic">
					Vui lòng khi đến, hài lòng khi đi
				</p>
				<ul>
					<li><i class="ri-check-double-line"></i> Với phương châm “An Toàn - Sang Trọng - Đẳng Cấp” TOÀN CẦU AUDIO luôn đặt chất lượng và uy tín lên hàng đầu nhằm phục vụ tốt nhất yêu cầu của bạn..</li>
					<li><i class="ri-check-double-line"></i> Đến với TOÀN CẦU AUDIO bạn không những lựa chọn được cho mình những sản phảm uy tín mà còn được phục vụ, tư vấn lắp đặt, hỗ trợ một cách nhiệt tình cùng đội ngũ nhân viên trẻ đầy nhiệt huyết.</li>
					<li><i class="ri-check-double-line"></i> Lấy chất lượng làm kim chỉ nam cho mọi hành động. Chúng tôi không chạy theo giá rẻ mà phân phối hàng kém chất lượng. Thợ làm cẩn thần, tỉ mỉ đảm bảo an toàn tuyệt đối cho xe của bạn.</li>
					<li><i class="ri-check-double-line"></i> Đến với TOÀN CẦU AUDIO hy vọng bạn sẽ tìm được những sản phẩm khiến bạn hài lòng và chúng tôi luôn trong tình trạng sẵn sàng giúp bạn có được một hệ thống camera giám sát như ý muốn.</li>
				</ul>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 text-center">
				<img src="{% static 'assets/img/tabs-2.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
			</div>
		</div>
	</section><!-- End Tabs Section -->

	<!-- ======= Services Section ======= -->
	<section id="services" class="services section-bg ">
		<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Dịch vụ</h2>
			<p>Vinatrack đã xây dựng nền tảng giám sát hành trình ứng dụng công nghệ GPS, GSM và GIS để giúp người dùng có thể quản lý được các loại phương tiện vận chuyển của mình từ xe tải, xe container, xe taxi, xe du lịch,… đến xe gắn máy. </p>
		</div>

		<div class="row">
			<div class="col-md-6">
			<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
				<i class="icofont-computer"></i>
				<h4><a href="#">App quản lý xe thông minh Vinatrack GPS</a></h4>
				<p>Quản lý hành trình thống kê chi tiết quãng đường, tốc độ, lượng nhiên liệu. Tích hợp giao diện admin trên điện thoại, giúp bạn quản lý phương tiện tại bất cứ đâu, bất cứ khi nào</p>
			</div>
			</div>
			<div class="col-md-6 mt-4 mt-md-0">
			<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
				<i class="icofont-chart-bar-graph"></i>
				<h4><a href="#">Phần mềm tợ lý lái xe VIVA Asistance</a></h4>
				<p>Là sản phẩm ứng dụng trí tuệ nhân tạo, điều khiển bằng giọng nói , tập lệnh phong phú , hỗ trợ lái xe an toàn và tiện lợi </p>
			</div>
			</div>
			<div class="col-md-6 mt-4 mt-md-0">
			<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
				<i class="icofont-image"></i>
				<h4><a href="#">Màn hình VIVA Android</a></h4>
				<p>Màn hình VUIVA thiết kế theo phong cách hiện đại, cấu hình đa nhân, sử dụng hệ điều hành Android như một máy tính bảng.</p>
			</div>
			</div>
			<div class="col-md-6 mt-4 mt-md-0">
			<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
				<i class="icofont-settings"></i>
				<h4><a href="#">Phụ kiện đồ chơi xe hơi</a></h4>
				<p>Phụ kiện xe hơi phong phú : camera hành trình, thiết bị chống trộm, ... </p>
			</div>
			</div>
		</div>

		</div>
	</section><!-- End Services Section -->

	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="portfolio">
		<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Sản phẩm</h2>
			<p>VINATRACK đã xây dựng nền tảng giám sát hành trình ứng dụng công nghệ GPS, GSM và GIS để giúp người dùng có thể quản lý được các loại phương tiện vận chuyển của mình từ xe tải, xe container, xe taxi, xe du lịch,… đến xe gắn máy.</p>
		</div>

		<div class="row" data-aos="fade-up" data-aos-delay="100">
			<div class="col-lg-12 d-flex justify-content-center">
			<ul id="portfolio-flters">
				<li data-filter="*" class="filter-active">Tất cả</li>
				<li data-filter=".filter-app">Camera hành trình</li>
				<li data-filter=".filter-card">Phần mềm giám sát hành trình</li>
				<li data-filter=".filter-web">Phụ kiện xe hơi</li>
			</ul>
			</div>
		</div>

		<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Camera hành trình 1</h4>
				<p>Camera hành trình</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Camera hành trình 1"><i class="bx bx-plus"></i></a>
					<!--a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a-->
					<a href="product.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Phụ kiện 3</h4>
				<p>Phụ kiện</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Phụ kiện 3"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Camera hành trình 2</h4>
				<p>Camera hành trình</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Camera hành trình 2"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Vintarck 2</h4>
				<p>Vintarck</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Vintarck 2"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Phụ kiện 2</h4>
				<p>Phụ kiện</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Phụ kiện 2"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Camera hành trình 3</h4>
				<p>Camera hành trình</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Camera hành trình 3"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Vintarck 1</h4>
				<p>Vintarck</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Vintarck 1"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Vintrack 3</h4>
				<p>Vintrack 3</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Vintarck 3"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
			<div class="portfolio-wrap">
				<img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				<h4>Phụ kiện 3</h4>
				<p>Phụ kiện</p>
				<div class="portfolio-links">
					<a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Phụ kiện 3"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
				</div>
				</div>
			</div>
			</div>

		</div>

		</div>
	</section><!-- End Portfolio Section -->

	<!-- ======= Testimonials Section ======= -->
	<section id="testimonials" class="testimonials">
		<div class="container" data-aos="fade-up">
		<div class="section-title">
			<h2>Cảm nhận của khách hàng</h2>
		</div>
		</div>

		<div class="container-fluid">

		<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
			<div class="col-xl-10">
			<div class="owl-carousel testimonials-carousel">

				<div class="testimonial-wrap">
				<div class="testimonial-item">
					<img src="{% static 'assets/img/testimonials/man.png' %}" class="testimonial-img" alt="">
					<h3>Anh Thanh Tùng</h3>
					<h4>Ceo &amp; Founder</h4>
					<p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					VINATRACK là phần mềm dẫn đường tuyệt vời! Dữ liệu bản đồ rất chi tiết, đến từng số nhà và tới tận thôn xóm.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>
				</div>

				<div class="testimonial-wrap">
				<div class="testimonial-item">
					<img src="{% static 'assets/img/testimonials/woman.png' %}" class="testimonial-img" alt="">
					<h3>Chị Minh Trang</h3>
					<h4>Tập đoàn Viettel</h4>
					<p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					Tôi ấn tượng với camera hành trình của Vinatrack. Thông tin giao thông được cảnh báo rất chính xác.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>
				</div>

				<div class="testimonial-wrap">
				<div class="testimonial-item">
					<img src="{% static 'assets/img/testimonials/woman.png' %}" class="testimonial-img" alt="">
					<h3>Chị Thu Minh</h3>
					<h4>Luật sư</h4>
					<p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					Vinatrack có khả năng tương thích rất cao, có thể chạy được trên hầu hết các thiết bị phần cứng của chúng tôi.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>
				</div>

				<div class="testimonial-wrap">
				<div class="testimonial-item">
					<img src="{% static 'assets/img/testimonials/man.png' %}" class="testimonial-img" alt="">
					<h3>Anh Huy Thành</h3>
					<h4>Kinh doanh tự do</h4>
					<p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					Tôi ấn tượng với camera hành trình của Vinatrack. Thông tin giao thông được cảnh báo rất chính xác.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>
				</div>

				<div class="testimonial-wrap">
				<div class="testimonial-item">
					<img src="{% static 'assets/img/testimonials/man.png' %}" class="testimonial-img" alt="">
					<h3>Anh Phong</h3>
					<h4>Doanh nhân</h4>
					<p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					Vinatrack có khả năng tương thích rất cao, có thể chạy được trên hầu hết các thiết bị phần cứng của chúng tôi.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>
				</div>

			</div>
			</div>
		</div>

		</div>
	</section><!-- End Testimonials Section -->


	<!-- ======= Frequently Asked Questions Section ======= -->
	<section id="faq" class="faq">
		<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Câu hỏi thường gặp</h2>
		</div>

		<ul class="faq-list" data-aos="fade-up">

			<li>
			<a data-toggle="collapse" class="collapsed" href="#faq1">Tôi có thể tải app quản lý hành trình Vinatrack từ đâu? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
			<div id="faq1" class="collapse" data-parent=".faq-list">
				<p>
					App vinatrack hỗ trợ cả hai hệ điều hành Android và ios. Bạn có thể tải app trên <a href="https://play.google.com/store/apps/details?id=com.viva.media.device">CHPlay</a> (cho tiết bị Android) và <a href="https://apps.apple.com/vn/app/vinatrack-admin/id1556263975">Apple Store</a> (cho thiết bị ios)
				</p>
			</div>
			</li>

			<li>
			<a data-toggle="collapse" href="#faq2" class="collapsed">App Vinatrack chạy được trên các thiết bị nào? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
			<div id="faq2" class="collapse" data-parent=".faq-list">
				<p>
					Vinatrack chạy được trên tất cả các thiết bị màn hình Android VIVA. App quản lý cho Admin chạy trên điện thoại hệ điều hành Android và IOS
				</p>
			</div>
			</li>

			<li>
			<a data-toggle="collapse" href="#faq3" class="collapsed">Ứng dụng Vinatrack có tính phí người dùng không? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
			<div id="faq3" class="collapse" data-parent=".faq-list">
				<p>
					Ứng dụng Vinatrack hoàn toàn miễn phí
				</p>
			</div>
			</li>

			<li>
			<a data-toggle="collapse" href="#faq4" class="collapsed"> Thời gian bảo hành sản phẩm trong bao lâu? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
			<div id="faq4" class="collapse" data-parent=".faq-list">
				<p>
					Chính sách bảo hành sản phẩm : <a href="https://vinatrackgps.vn/guarantee-policy.html"> tại đây</a>
				</p>
			</div>
			</li>

			<li>
			<a data-toggle="collapse" href="#faq5" class="collapsed">Trường hợp sản phẩm có lỗi khi sử dụng tôi có thể liên hệ với ai? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
			<div id="faq5" class="collapse" data-parent=".faq-list">
				<p>
					Vui lòng liên hệ tới đội hỗ trợ kỹ thuật của Vinatrack : <a href="https://vinatrackgps.vn#contact"> tại đây</a>. Chúng tôi luôn sẵn sàng phục vụ mọi yêu cầu hỗ trợ từ khách hàng.
				</p>
			</div>
			</li>

			<li>
			<a data-toggle="collapse" href="#faq6" class="collapsed">Ứng dụng vinatrack có hỗ trợ người dùng doanh nghiệp không? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
			<div id="faq6" class="collapse" data-parent=".faq-list">
				<p>
					Vui lòng liên hệ với đội ngũ Vinatrack để được cung cấp giải pháp cho doanh nghiệp của bạn.
					<a href="https://vinatrackgps.vn#contact"> Liên hệ ngay </a>
				</p>
			</div>
			</li>

		</ul>

		</div>
	</section><!-- End Frequently Asked Questions Section -->

	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Liên hệ</h2>
			<p>Vinatrack luôn sẵn sàng với mọi nhu cầu / thắc mắc về sản phẩm , giải pháp giám sát hành trình của bạn</p>
		</div>

		<div class="row" data-aos="fade-up" data-aos-delay="100">

			<div class="col-lg-6">

			<div class="row">
				<div class="col-md-12">
				<div class="info-box">
					<i class="bx bx-map"></i>
					<h3>Địa chỉ </h3>
					<p>Hà Đông, Hà Nội </p>
				</div>
				</div>
				<div class="col-md-6">
				<div class="info-box mt-4">
					<i class="bx bx-envelope"></i>
					<h3>Email</h3>
					<p>contact@vintrackgps.com</p>
				</div>
				</div>
				<div class="col-md-6">
				<div class="info-box mt-4">
					<i class="bx bx-phone-call"></i>
					<h3>Số điện thoại</h3>
					<p>+84 974 888 888</p>
				</div>
				</div>
			</div>

			</div>

			<div class="col-lg-6">
			<form action="forms/contact.php" method="post" role="form" class="php-email-form">
				<div class="form-row">
				<div class="col form-group">
					<input type="text" name="name" class="form-control" id="name" placeholder="Tên của bạn" data-rule="minlen:4" data-msg="Vui lòng điền tối thiểu 4 ký tự" />
					<div class="validate"></div>
				</div>
				<div class="col form-group">
					<input type="email" class="form-control" name="email" id="email" placeholder="Email của bạn" data-rule="email" data-msg="Vui lòng điền một email hợp lệ" />
					<div class="validate"></div>
				</div>
				</div>
				<div class="form-group">
				<input type="text" class="form-control" name="subject" id="subject" placeholder="Tiêu đề" data-rule="minlen:4" data-msg="Vui lòng điền tiêu đề ít nhất 8 ký tự" />
				<div class="validate"></div>
				</div>
				<div class="form-group">
				<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Vui lòng điền nội dung" placeholder="Nội dung"></textarea>
				<div class="validate"></div>
				</div>
				<div class="mb-3">
				<div class="loading">Đang tải</div>
				<div class="error-message"></div>
				<div class="sent-message">Tin nhắn của bạn đã được gửi. Chúng tôi sẽ phản hồi trong thời gian sớm nhất. Chân thành cảm ơn!</div>
				</div>
				<div class="text-center"><button type="submit">Gửi tin nhắn</button></div>
			</form>
			</div>

		</div>

		</div>
	</section><!-- End Contact Section -->

	</main><!-- End #main -->
{% endblock content %}