{% extends "car_gps/base_site.html" %}
{% load static %}
{% block stylesheets %}
	<!-- Favicons -->
	<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
	<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!-- Vendor CSS Files -->
	<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
	<!-- Template Main CSS File -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/product.css' %}" rel="stylesheet">
	<!-- =======================================================
	* Template Name: Presento - v1.1.1
	* Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
	<style type="text/css">
		ul {
			list-style: none;
		}
		ul.product_list li::before{
			content: "\2022";
			color: black;
			font-weight: bold;
			margin-right: 1em;
		}
	</style>
{% endblock stylesheets %}
{% block content %}
	<main id="main">
		<div class="container">
			<div class="card">
				<div class="container-fliud">
					<div class="wrapper row">
						<div class="preview col-md-6">
							
							<div class="preview-pic tab-content">
								<div class="tab-pane active" id="pic-1"><img src="{% static 'assets/img/product/Capture-removebg-preview.png' %}"/></div>
								<div class="tab-pane" id="pic-2"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-2.png' %}" /></div>
								<div class="tab-pane" id="pic-3"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-3.png' %}" /></div>
								<div class="tab-pane" id="pic-4"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-4.png' %}" /></div>
								<div class="tab-pane" id="pic-5"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-1.png' %}" /></div>
							</div>
							<ul class="preview-thumbnail nav nav-tabs">
								<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{% static 'assets/img/product/Capture-removebg-preview.png' %}" /></a></li>
								<li><a data-target="#pic-2" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-2.png' %}" /></a></li>
								<li><a data-target="#pic-3" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-3.png' %}" /></a></li>
								<li><a data-target="#pic-4" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-4.png' %}" /></a></li>
								<li><a data-target="#pic-5" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-1.png' %}" /></a></li>
							</ul>
							
						</div>
						<div class="details col-md-6">
							<h3 class="product-title">men's shoes fashion</h3>
							<div class="rating">
								<div class="stars">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<span class="review-no">41 reviews</span>
							</div>
							<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
							<h4 class="price">current price: <span>$180</span></h4>
							<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
							<h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">s</span>
							<span class="size" data-toggle="tooltip" title="medium">m</span>
							<span class="size" data-toggle="tooltip" title="large">l</span>
							<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
							</h5>
							<h5 class="colors">colors:
							<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>
							</h5>
							<div class="action">
								<button class="add-to-cart btn btn-default" type="button">add to cart</button>
								<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="container">
			<div class="col-lg-12">
				<section id="tabs" class="tabs">
					<div class="col-md-6" data-aos="fade-up">
						<ul class="nav nav-tabs row d-flex">
							<li class="nav-item col-4">
								<a class="nav-link active show" data-toggle="tab" href="#description-tab">
									<h4 class="d-none d-lg-block">Miêu tả</h4>
								</a>
							</li>
							<li class="nav-item col-4">
								<a class="nav-link" data-toggle="tab" href="#product-info">
									<h4 class="d-none d-lg-block">Thông tin sản phẩm</h4>
								</a>
							</li>
							<li class="nav-item col-4">
								<a class="nav-link" data-toggle="tab" href="#reviews">
									<h4 class="d-none d-lg-block">Đánh giá</h4>
								</a>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div id="description-tab" class="tab-pane fade in active show" id="service-one">
								<p>
									Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection, this phone stores precious photos and video and lets you upload them to a cloud or social network at blinding-fast speed. With a 17-hour operating life from one charge, this phone allows you keep in touch even on the go.
									
									With its built-in photo editor, the Galaxy S4 allows you to edit photos with the touch of a finger, eliminating extraneous background items. Usable with most carriers, this smartphone is the perfect companion for work or entertainment.
								</p>
								<ul class="product_list">
									<li>Super AMOLED capacitive touchscreen display with 16M colors</li>
									<li>Available on GSM, AT T, T-Mobile and other carriers</li>
									<li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
									<li>MicroUSB and USB connectivity</li>
									<li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
									<li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
									<li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
									<li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
									<li>Features 16 GB memory and 2 GB RAM</li>
									<li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
									<li>17 hours of talk time, 350 hours standby time on one charge</li>
									<li>Available in white or black</li>
									<li>Model I337</li>
									<li>Package includes phone, charger, battery and user manual</li>
									<li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
								</ul>
							</div>
							<div id="product-info" class="tab-pane fade">
								<p>
									Bên cạnh những chia sẻ về Super League, trong buổi phỏng vấn với El Chiringuito TV, Chủ tịch Perez cũng đã nói một vài thông tin về Real Madrid:
									- Người hâm mộ luôn yêu cầu tôi mua Mbappe. Câu trả lời của tôi? Tôi chỉ có thể nói rằng: đừng lo…sự thật thì cậu ấy rất xuất sắc. Tôi vẫn chưa nói chuyện với Mbappe. Ít ra là đến thời điểm này…(cười lớn). Tôi cũng không biết điều khoản hợp đồng giữa cậu ấy và PSG là như thế nào.
								</p>
								<ul class="product_list">
									<li>Super AMOLED capacitive touchscreen display with 16M colors</li>
									<li>Available on GSM, AT T, T-Mobile and other carriers</li>
									<li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
									<li>MicroUSB and USB connectivity</li>
									<li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
									<li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
									<li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
									<li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
									<li>Features 16 GB memory and 2 GB RAM</li>
									<li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
									<li>17 hours of talk time, 350 hours standby time on one charge</li>
									<li>Available in white or black</li>
									<li>Model I337</li>
									<li>Package includes phone, charger, battery and user manual</li>
									<li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
								</ul>
							</div>
							<div id="reviews" class="tab-pane fade">
								<p>
									- Vinicius Junior là không được đụng đến. Cậu ấy sẽ không rời Real Madrid kể cả khi PSG có yêu cầu trao đổi [trong thương vụ Mbappe].
									- Zidane đang hạnh phúc, anh ta là HLV hàng đầu. Hợp đồng vẫn còn, chúng ta hãy chờ xem diễn biến vào cuối mùa giải. Mourinho? Trong ba năm với chúng tôi, ông ấy đã giúp rất nhiều, chúng tôi cũng phải gửi lời cảm ơn đến ông ấy.
								</p>
								<ul class="product_list">
									<li>Super AMOLED capacitive touchscreen display with 16M colors</li>
									<li>Available on GSM, AT T, T-Mobile and other carriers</li>
									<li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
									<li>MicroUSB and USB connectivity</li>
									<li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
									<li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
									<li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
									<li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
									<li>Features 16 GB memory and 2 GB RAM</li>
									<li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
									<li>17 hours of talk time, 350 hours standby time on one charge</li>
									<li>Available in white or black</li>
									<li>Model I337</li>
									<li>Package includes phone, charger, battery and user manual</li>
									<li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<br><br>
	</main>
{% endblock content %}