{% extends "car_gps/base_site.html" %}
{% load static %}
{% block stylesheets %}
	<!-- Favicons -->
	<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
	<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!-- Vendor CSS Files -->
	<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
	<!-- Template Main CSS File -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/product.css' %}" rel="stylesheet">
	<!-- =======================================================
	* Template Name: Presento - v1.1.1
	* Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
	<style type="text/css">
		ul {
			list-style: none;
		}
		ul.product_list li::before{
			content: "\2022";
			color: black;
			font-weight: bold;
			margin-right: 1em;
		}
	</style>
{% endblock stylesheets %}
{% block content %}
	<main id="main">
		<div class="container">
			<div class="card">
				<div class="container-fliud">
					<div class="wrapper row">
						<div class="preview col-md-6">
							
							<div class="preview-pic tab-content">
								<div class="tab-pane active" id="pic-1"><img src="{% static 'assets/img/product/Capture-removebg-preview.png' %}"/></div>
								<div class="tab-pane" id="pic-2"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-2.png' %}" /></div>
								<div class="tab-pane" id="pic-3"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-3.png' %}" /></div>
								<div class="tab-pane" id="pic-4"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-4.png' %}" /></div>
								<div class="tab-pane" id="pic-5"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-1.png' %}" /></div>
							</div>
							<ul class="preview-thumbnail nav nav-tabs">
								<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{% static 'assets/img/product/Capture-removebg-preview.png' %}" /></a></li>
								<li><a data-target="#pic-2" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-2.png' %}" /></a></li>
								<li><a data-target="#pic-3" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-3.png' %}" /></a></li>
								<li><a data-target="#pic-4" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-4.png' %}" /></a></li>
								<li><a data-target="#pic-5" data-toggle="tab"><img src="{% static 'assets/img/product/Man-hinh-Morcar-MZ7862-cho-mazda-1.png' %}" /></a></li>
							</ul>
							
						</div>
						<div class="details col-md-6">
							<h3 class="product-title">Màn hình VIVA M7862.Z4</h3>
							<div class="rating">
								<div class="stars">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
								<span class="review-no"><a href="#reviews">41 đánh giá</a></span>
							</div>
							<p class="product-description">Màn hình VIVA M7862.Z4 là phiên bản màn hình ô tô cao cấp với phong cách hiện đại, M7862.Z4 chạy song song hệ điều hành Android và hệ điều hành nguyên bản của Mazda, tích hợp sẵn Camera 360 mô hình 3D hiện đại nhất.</p>
							<h4 class="price">Giá: <span> <a href="{% url 'index' %}#contact">Liên hệ</a></span></h4>
							<p class="vote"><strong>91%</strong> hài lòng với sản phẩm! <strong>(87 votes)</strong></p>
							<h5 class="sizes">kích thước (inch):
							<span class="size" data-toggle="tooltip" title="small">8</span>
							<span class="size" data-toggle="tooltip" title="medium">10</span>
							<span class="size" data-toggle="tooltip" title="large">12</span>
							<span class="size" data-toggle="tooltip" title="xtra large">14</span>
							</h5>
							<h5 class="colors">màu sắc:
							<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>
							</h5>
							<div class="action">
								<button class="add-to-cart btn btn-default" type="button">thêm vào giỏ</button>
								<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="container">
			<div class="col-lg-12">
				<section id="tabs" class="tabs">
					<div class="col-md-12" data-aos="fade-up">
						<ul class="nav nav-tabs row d-flex">
							<li class="nav-item col-4">
								<a class="nav-link active show" data-toggle="tab" href="#description-tab">
									<h4 class="d-none d-lg-block">Mô tả</h4>
								</a>
							</li>
							<li class="nav-item col-4">
								<a class="nav-link" data-toggle="tab" href="#product-info">
									<h4 class="d-none d-lg-block">Thông tin sản phẩm</h4>
								</a>
							</li>
							<li class="nav-item col-4">
								<a class="nav-link" data-toggle="tab" href="#reviews">
									<h4 class="d-none d-lg-block">Đánh giá</h4>
								</a>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div id="description-tab" class="tab-pane fade in active show" id="service-one">
								<p>
									Màn hình VIVA M7862.Z4 là phiên bản màn hình ô tô cao cấp với phong cách hiện đại, M7862.Z4 chạy song song hệ điều hành Android và hệ điều hành nguyên bản của Mazda, tích hợp sẵn Camera 360 mô hình 3D hiện đại nhất.
								</p>
								<ul class="product_list">
									<li>Super AMOLED capacitive touchscreen display with 16M colors</li>
									<li>Available on GSM, AT T, T-Mobile and other carriers</li>
									<li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
									<li>MicroUSB and USB connectivity</li>
									<li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
									<li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
									<li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
									<li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
									<li>Features 16 GB memory and 2 GB RAM</li>
									<li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
									<li>17 hours of talk time, 350 hours standby time on one charge</li>
									<li>Available in white or black</li>
									<li>Model I337</li>
									<li>Package includes phone, charger, battery and user manual</li>
									<li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
								</ul>
							</div>
							<div id="product-info" class="tab-pane fade">
								<p>
									<strong>Thông tin thiết bị:</strong>
								</p>
								<ul class="product_list">
									<li>Kích thước màn hình: 10.25″</li>
									<li>Công nghệ màn hình Qled, kính cường lực bo viền 2.5D</li>
									<li>Tích hợp sẵn hệ thống âm thanh DSP</li>
									<li>CPU mạnh mãnh mẽ nhất với chip xử lý tốc độ cao</li>
								</ul>
								<p>
									<strong>Thông số chính:</strong>
									<p>
										VIVA M.7862.Z4 thuộc phân khúc màn hình cao cấp của VIVA. M7862.Z4 chạy song song hệ điều hành Android và hệ điều hành gốc của Mazda, tích hợp sẵn Camera 360 mô hình 3D hiện đại nhất. M7862.Z4 có các tùy chọn liên quan đến bộ nhớ đệm (Ram) và bộ nhớ trong (Rom):
									</p>
								</p>
								<table id="product-information">
									<tr>
										<td>Model</td>
										<td>M7862.Z4</td>
									</tr>
									<tr>
										<td>Android</td>
										<td>10</td>
									</tr>
									<tr>
										<td>CPU</td>
										<td>UIS7862; 8 Core; 1.8 GHz</td>
									</tr>
									<tr>
										<td>Ram</td>
										<td>3Gb | 4Gb | 6Gb</td>
									</tr>
									<tr>
										<td>Rom</td>
										<td>32Gb | 64Gb | 128Gb</td>
									</tr>
									<tr>
										<td>Screen Size</td>
										<td>10.25 inches</td>
									</tr>
									<tr>
										<td>Resolution</td>
										<td>Qled 1920 x 720</td>
									</tr>
									<tr>
										<td>Camera 360</td>
										<td>- Camera 360 mô hình 3D hiện đại nhất
											- Tự động bật Cam 360 ở tốc độ thấp và ngắt amera khi đi ở tốc độ cao
											- Ghi hành trình toàn cảnh
										</td>
									</tr>
									<tr>
										<td>Bluetooth</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>Car play</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>USB</td>
										<td>2 cổng</td>
									</tr>
									<tr>
										<td>Network</td>
										<td>4G | WiFi</td>
									</tr>
									<tr>
										<td>GPS</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>Navigation</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>Radio</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>Microphone</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>DSP</td>
										<td>Có</td>
									</tr>
									<tr>
										<td>Language</td>
										<td>Đa ngôn ngữ</td>
									</tr>
								</table>
								<br>
								<p>
									<strong>Tương thích với hệ thống:</strong>
								</p>
								<ul class="product_list">
									<li>Sản phẩm kết nối với phương tiện qua hệ thống Jắck cắm</li>
									<li>Tương thích với hệ thống điều khiển và cảnh báo nguyên bản của xe. Đáp ứng mọi loại xe</li>
								</ul>
							</div>
							<div id="reviews" class="tab-pane fade">
								<div class="container" data-aos="fade-up">
									<p>
										Chưa có đánh giá
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<br><br>
	</main>
{% endblock content %}