{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if user.is_staff %}
<div class="container">

	<h1>New Notification</h1>
	<table class="table">
	    <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <tbody>
	      <tr>
	        <th>Title</th>
	        <td>{{ form.title }}</td>
	      </tr>
	      <tr>
	        <th>Body</th>
	        <td>{{ form.body }}</td>
	      </tr>
	      <tr>
	        <th>Image</th>
	        <td>{{ form.image }}</td>
	      </tr>
	      <tr>
	        <th>User Id</th>
	        <td>{{ form.user_id }}</td>
	      </tr>
	      <tr>
	        <th>Created At</th>
	        <td>{{ form.created_at }}</td>
	      </tr>
	    </tbody>
	      <tr>
	      <td><input class="btn btn-primary" type="submit" value="Submit">
	        <input class="btn btn-secondary" type="reset" value="Reset">
	      </td>
	      <td>
	      </td>
	      </tr>
	    </form>
	  </table> 

	  <!-- 
	  {% if img_obj %}
  		<h3>Succesfully uploaded : {{img_obj.title}}</h3>
  		<img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
	  {% endif %}
	  -->
</div>
{% endif %}
{% endblock %}